*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image:url(cloudpic1.jpg);
    background-size: cover;
    background-repeat :no-repeat;

}
.abc{
    background-color: darkgreen;
    text-align: center;
}
.abc ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.abc ul li{
    width: 100px;
    margin: 15px;
    padding: 15px; 
}
.abc ul li a{
    text-decoration: none;
    color: white;
}
.abcd, .abc ul li:hover{
    background-color: yellowgreen;
    border-radius: 3px;
}
.abc .fa{
    margin-right: 8px; 
}

.xyz{
    display: none;
}

.abc ul li:hover .xyz{
    display: block;
    position: absolute;
    background-color:darkgreen;
    margin-top: 15px;
} 
.abc ul li:hover .xyz ul{
    display: block;
    margin: 10px;
}

.abc ul li:hover .xyz ul li{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted white;
    border-radius: 0px;
    text-align: left;
}

.abc ul li:hover .xyz ul li:last-child{
    border-bottom: none;
}
.abc ul li:hover .xyz ul li a:hover{
    color: #b2ff00;
}