.body{
    background-image: linear-gradient(to bottom right,purple , blue);
    
}
.abc {
    background-color: white;
    width: 350px;
    height: 500px;
    border: 1px solid white;
    margin: 40px;
}
.login{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
input[type=email], select{
    background-color: lightgrey;
    width: 80%;
    padding: 12px;
    margin: 8px 25px;
    border: 1px;
    box-sizing: border-box;
    opacity: 50%;
}
input[type=password], select{
    background-color: lightgrey;
    width: 80%;
    padding: 12px;
    margin: 8px 25px;
    border: 1px;
    box-sizing: border-box;
    opacity: 50%;
}
.xyz{
    margin-left: 5px;  
}
input[type=checkbox], select{
    margin-left:25px;
    
}
.box{
    opacity: 50%;
}
.button{
    background-color:palegreen;
    width: 80%;
    padding: 12px;
    margin: 25px 25px;
    border: 1px;
    box-sizing: border-box;
    cursor: pointer;
}
.button:hover{
    background-color: green;
}
.Or{
    text-align: center;
    opacity: 50%;
}
.fb{
    background-color: lightgrey;
    text-align: center;
    width: 35%;
    padding: 5px;
    margin-left: 25px;
    border: 1px;
    
}
.google{
    background-color: lightgrey;
    text-align: center;
    width: 35%;
    padding: 5px;
    margin-left: 25px;
    border: 1px; 
}
.footer{
    text-align: center;
    padding: 50px;
}